<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.business.budget.dao.BudgetDao">
  <resultMap id="BaseResultMap" type="com.mk.business.budget.model.Budget">
    <!--@mbg.generated generated on Wed Apr 15 16:45:11 CST 2020.-->
    <!--@Table t_a_budget-->
    <id column="Budget_Guid" jdbcType="VARCHAR" property="budgetGuid" />
    <result column="Budget_Code" jdbcType="VARCHAR" property="budgetCode" />
    <result column="Region_Guid" jdbcType="VARCHAR" property="regionGuid" />
    <result column="Year" jdbcType="DECIMAL" property="year" />
    <result column="Org_Guid" jdbcType="VARCHAR" property="orgGuid" />
    <result column="Finance_Dept_Guid" jdbcType="VARCHAR" property="financeDeptGuid" />
    <result column="Confirm_Date" jdbcType="TIMESTAMP" property="confirmDate" />
    <result column="Budget_Money" jdbcType="DECIMAL" property="budgetMoney" />
    <result column="Is_Buyitem" jdbcType="DECIMAL" property="isBuyitem" />
    <result column="Buyitem_Money" jdbcType="DECIMAL" property="buyitemMoney" />
    <result column="Is_Directional" jdbcType="DECIMAL" property="isDirectional" />
    <result column="Directional_Money" jdbcType="DECIMAL" property="directionalMoney" />
    <result column="Is_Poverty_Relief" jdbcType="DECIMAL" property="isPovertyRelief" />
    <result column="Poverty_Relief_Money" jdbcType="DECIMAL" property="povertyReliefMoney" />
    <result column="Kind" jdbcType="VARCHAR" property="kind" />
    <result column="PurCatalog_Type" jdbcType="VARCHAR" property="purcatalogType" />
    <result column="PurCatalog_Guid" jdbcType="VARCHAR" property="purcatalogGuid" />
    <result column="Biz_Valid" jdbcType="INTEGER" property="bizValid" />
    <result column="Biz_Time_Stamp" jdbcType="TIMESTAMP" property="bizTimeStamp" />
    <result column="Interface_Code" jdbcType="VARCHAR" property="interfaceCode" />
    <result column="Data_Resource" jdbcType="VARCHAR" property="dataResource" />
    <result column="Biz_Date" jdbcType="DATE" property="bizDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Apr 15 16:45:11 CST 2020.-->
    Budget_Guid, Budget_Code, Region_Guid, `Year`, Org_Guid, Finance_Dept_Guid, Confirm_Date,
    Budget_Money, Is_Buyitem, Buyitem_Money, Is_Directional, Directional_Money, Is_Poverty_Relief,
    Poverty_Relief_Money, Kind, PurCatalog_Type, PurCatalog_Guid, Biz_Valid, Biz_Time_Stamp,
    Interface_Code, Data_Resource, Biz_Date
  </sql>

  <select id="getBudget" parameterType="map" resultType="int">
       select  count(1) from  t_a_budget where Interface_Code =#{interfaceCode} and Data_Resource =#{datasource}
  </select>
</mapper>
