<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.business.contract.dao.ContractmoneyDao">
  <resultMap id="BaseResultMap" type="com.mk.business.contract.model.Contractmoney">
    <!--@mbg.generated generated on Wed Apr 15 09:34:46 CST 2020.-->
    <!--@Table t_a_contractmoney-->
    <id column="Contract_Money_Guid" jdbcType="VARCHAR" property="contractMoneyGuid" />
    <result column="Contract_Guid" jdbcType="VARCHAR" property="contractGuid" />
    <result column="BuyPlan_Money_Guid" jdbcType="VARCHAR" property="buyplanMoneyGuid" />
    <result column="BuyPlan_Guid" jdbcType="VARCHAR" property="buyplanGuid" />
    <result column="BuyItem_Guid" jdbcType="VARCHAR" property="buyitemGuid" />
    <result column="Resource_Guid" jdbcType="VARCHAR" property="resourceGuid" />
    <result column="Budget_Guid" jdbcType="VARCHAR" property="budgetGuid" />
    <result column="Money" jdbcType="DECIMAL" property="money" />
    <result column="Year" jdbcType="DECIMAL" property="year" />
    <result column="Carry_Forward_Type" jdbcType="VARCHAR" property="carryForwardType" />
    <result column="Biz_Valid" jdbcType="INTEGER" property="bizValid" />
    <result column="Biz_Time_Stamp" jdbcType="TIMESTAMP" property="bizTimeStamp" />
    <result column="Interface_Code" jdbcType="VARCHAR" property="interfaceCode" />
    <result column="Data_Resource" jdbcType="VARCHAR" property="dataResource" />
    <result column="Biz_Date" jdbcType="DATE" property="bizDate"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Apr 15 09:34:46 CST 2020.-->
    Contract_Money_Guid, Contract_Guid, BuyPlan_Money_Guid, BuyPlan_Guid, BuyItem_Guid,
    Resource_Guid, Budget_Guid, Money, `Year`, Carry_Forward_Type, Biz_Valid, Biz_Time_Stamp,
    Interface_Code, Data_Resource, bizDate
  </sql>
</mapper>
